{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semicolons": false,
  "arrowFunctionParentheses": "avoid"
}